.plan {
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	@media screen and (max-width: 900px) {
		//justify-content: center;
	}

	& > .option {
		width: 30%;
		height: 50%;
		background-color: white;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 900px) {
			width: 80%;
		}
	}

	.selected {
		background-color: #93ffb7;
	}

	.planTitle {
		font-family: 'Roboto', sans-serif;
		font-size: 40px;

		margin-bottom: 30px;
	}

	.planPrice {
		margin-top: 10px;
		font-family: 'Roboto', sans-serif;
		color: #ff4f4f;

		font-weight: bold;
		font-size: 30px;
	}
}