@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
$font:'Roboto Condensed', sans-serif;

.main{
    margin: 30px auto 10px auto;
    float: none;
    display: table;    
    font-size: 15px;    
    input[type=text]{
        padding: 10px 14px 10px 14px;        
        border: 1px solid #0000001a;
		outline: none;
        display: block;
        margin: 10px auto 5px auto;

        transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
			
		&:focus {
			border-color: rgba(82, 82, 82, 0.9);
		}
    }

    p{
        font-size: 15pt;
        text-align: center;        
        display: block;     
    }

    label{
        text-align: center;        
        display: block;       
    }

    input[type=file]{
        margin: 30px auto 0px auto;
        display: block;
        text-align: center;        
    }

    input[type=submit]{
        display: block;
        margin: 20px auto;
    }

    button{
        display: block;
        border: none;
        margin: 15px auto 0px auto;
        width: 150px;
        height: 40px;
        font-family: $font;
        transition-duration: 0.4s;
        cursor: pointer;
        background: rgb(255, 101, 101);

        box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    	transition: all 0.1s cubic-bezier(.25,.8,.25,1);

    	&:hover {
            background: rgb(255, 76, 76);
    		box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	    }
    }

    .logo{
        display: block;
        margin: 0px auto 10px auto;
    }

    .editor{
        display: block;
        margin: 0px auto 50px auto;
    }

    .preview{
        width: 120vh;
        border: 1px solid red;
        margin-bottom: 200px;

        .p-title{
            text-align: center;
            font-size: 20pt;         
        }
        .p-banner{
            display: block;
            margin: auto;      
        }
        .p-content{
            text-align: center;
            font-family: $font;
        }
    }
}

.m-box{    
    float: none;    
    overflow: hidden;
    background: #1E1E1E;
    .module{            
        width: 100%;
        max-height: 90.6vh;
        display: flex;    
        box-sizing: border-box;            
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        .buttons{
            min-width: 50px;
            max-width: 50px;
            background: #1E1E1E;
            border-right: 3px solid #282828;
            img{
                margin: 20px 0 0 7px;
                transition: transform .2s;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }         

        .preview{
            overflow: scroll;    
            width: inherit;            
            background: #1E1E1E;        
            color: white;    
            
            .title{
                text-align: center;
                font-size: 20pt;
            }

            .content{
                width: 80%;    
                margin-left: auto;
                margin-right: auto;    
                font-family: $font;
                
                img{
                    width: 80%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto
                }

                .p-content{
                    word-break: break-all;
                }
            }

            &::-webkit-scrollbar {
				display: none;
			}
        }
    }
}

.monaco-editor{
    min-height: 90.6vh;
    .parameter-hints-widget {
        border: 0px;
        .signature {
            padding: 0px;
        }
    }
    .suggest-widget {
        border: 0px;
    }
    .vs-dark .suggest-widget {
        border: 0px;
    }
    .rename-box {
        top: 0;
    }    
}

.save-box{
    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgb(0,0,0);
        background-color: rgba(0, 0, 0, 0.555);        
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 50px auto;
        border: 3px solid rgba(0, 0, 0, 0.082);
        width: 300px;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}