.navbar {
	position: fixed;
	top: 0;
	background-color: #1c1c1c;
	color: white;
	width: 100vw;
	max-width: 100%;
	height: 60px;
	display: flex;	
	
	.logo{
		margin-top: 7px;
		margin-left: 10px;
		margin-right: 12px;
	}


	.navbar_leftOptions, .navbar_rightOptions{
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		transition: 0.2s;					

		&:hover{
			background-color: #414141;
			cursor: pointer;
		}

		a{
			text-decoration: none;    
		}

		.option {
			color: white;			
			margin-left: 16px;
			margin-right: 16px;
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			user-select: none;		
		}			  
	}

	.navbar_rightOptions{
		align-self: flex-end;
		margin-left: auto;
		
		.avatar{
			border-radius: 6px;
			margin-left: -6px;
			margin-right: 9px;
		}
	}	
}

@media only screen 
	and (max-device-width : 350px){ 
	 .hide { display: none;
	}

	.userImage {
		border-radius: 50%;
		width: 40px;
	}

	.userName {
		text-transform: capitalize;
	}
}