body{
    background-image: url("./Assets/space.png");
    background-size: 45%;
}

.nav{
    z-index: 0;
}

.main{
    position: relative;
    
    margin: auto;
    margin-top: 10%;
    //width: 90%;
    max-width: 2000px;
    //height: auto;
    
    //animation: spinRoundRound 10s infinite linear;
    //overflow: auto;
    //border: 3px solid #0000FF;
    z-index: 0;
}

#moon_flags
{
    //position: inherit;
    animation: spinRoundRound 50s infinite linear;
    // Moon_flags y container son "hermanos" contextuales (stacking)
    z-index: 0;
}

@keyframes spinRoundRound
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
    
}

.moon{
    display: block;  
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    // Moon y allies flags son "hermanos" contextuales (stacking)
    z-index: -2;
}

.alliesFlags
{
    position: absolute;
    display: block; 
    left: 0;
    right: 0; 
    top: -20%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    //border: 3px solid #FF00FF;

    // Moon y allies flags son "hermanos" contextuales (stacking)
    //Aquí poner 0 para que funcione el click
    z-index: 0;

}

.flag_arena, .flag_xbox, .flag_gamelta, .flag_gameplanet, .flag_riot, .flag_rocket9,{
    //Flags y logos son "hermanos" contextuales (stacking)
    z-index: -1;
    position: absolute;
    visibility: visible;
    height: auto;
    width: 10%;
}

//Posicion de las banderas
.flag_arena{
    margin-left: 50%;
    margin-top: auto;
    transform: rotate(-10deg);
}

.flag_xbox{
    margin-left: 42.5%;
    margin-top: 60%;
    transform: rotate(170deg);
}

.flag_riot{
    margin-left: 70%;
    margin-top: 12%;
    transform: rotate(45deg);
}

.flag_rocket9{
    margin-left: 64%;
    margin-top: 55%;
    transform: rotate(110deg);
}

.flag_gamelta{
    margin-left: 26%;
    margin-top: 7%;
    transform: rotate(-60deg);
}

.flag_gameplanet{
    margin-left: 22.5%;
    margin-top: 48%;
    transform: rotate(-135deg);
}

//Logos Aliados
.logo_arena, .logo_gamelta, .logo_gameplanet, .logo_riot, .logo_rocket9, .logo_xbox{
    //Flags y logos son "hermanos" contextuales (stacking)
    z-index: 0;
    position: absolute;
    visibility: visible;
    height: auto;
    //border: 3px solid #FFFF00;
}

.logo_arena:hover, .logo_gamelta:hover, .logo_gameplanet:hover, .logo_riot:hover, .logo_rocket9:hover, .logo_xbox:hover{
    cursor: pointer;
    //z-index: -1;
}

.logo_arena{
    width: 3%;
    margin-left: 51%;
    margin-top: 1%;
    transform: rotate(-15deg);
}

.logo_gamelta{
    width: 3.5%;
    margin-left: 26.5%;
    margin-top: 11%;
    transform: rotate(-65deg);
}

.logo_gameplanet{
    width: 3.5%;
    margin-left: 25.5%;
    margin-top: 54%;
    transform: rotate(-145deg);
}

.logo_riot{
    width: 3.5%;
    margin-left: 73.25%;
    margin-top: 12.25%;
    transform: rotate(55deg);
}

.logo_rocket9{
    width: 4.5%;
    margin-left: 69.5%;
    margin-top: 57.5%;
    transform: rotate(95deg);
}

.logo_xbox{
    width: 3%;
    margin-left: 48.5%;
    margin-top: 65%;
    transform: rotate(165deg);
}

//Contenedor del Texto
.container{
    position: absolute;
    //display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-top: -35%;
    width: 20%;
    display: none;

    // Moon_flags y container son "hermanos" contextuales (stacking)
    z-index: 1;
}

.textbox{
    width: 100%;
    //z-index: -1;
}

.logoallie{
    position: absolute;
    height: auto;
    width: 50%;
    margin-left: -75%;
    margin-top: 7.5%;
    //z-index: -1;
    //background: blue;
}

.text{
    position: absolute;
    color: white;
    margin-left: 5%;
    margin-top: -60%;
    font-weight: bold;
    text-align: center;
    //z-index: -1;
}